
body {
 background-color: #d3d3d3;
}

h1 {
 margin: 0px;
 text-align: left;
 font-size: 3em;
 text-align: center;
 color: #750020;
}

td {
 width: 150px;
 text-align: center;
}

h2 {
 font-family: Georgia;
 font-size: 2em;
 margin: 10px;
 text-align: center;
}

h3 {
 font-style: italic;
 font-size: 1em;
}

table {
 border: none;
 border-spacing: 0px;
 margin: 10px;
 
}

td {
 width: 160px;
 border: none;

}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.addform p{
 text-align: left;	
}


